* {
  margin: 0;
  scrollbar-width: none;
  text-decoration: none;
  color: rgb(70, 0, 255);
  -webkit-text-stroke: 1px rgb(70, 0, 255);
}

::selection, ::-moz-selection {
  background: none;
}

body {
  background: rgb(215, 215, 215);
  overflow: hidden;
  font-family: serif;
  height: 100%;
}

a:hover {
  font-style: italic;
  cursor: pointer
}

#hd {
  padding: 4px;
  z-index: 4;
  position: absolute;
  width: relative;
  text-align: center;
  font-size: 12pt;
  line-height: 1;
}

#bd {
  padding: 4px;
  position: absolute;
  font-size: 60pt;
  font-style: italic;
  line-height: 0.85;
  padding-top: 86px;
  height: calc(100% - 86px);;
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  #hd {
    width: 100%;
    text-align: center;
    font-size: 10pt;
    line-height: 1;
  }

  #bd {
    font-size: 30pt;
    line-height: 0.9;
  }
}
